.Board {
  position:relative;
  display:block;
  top:50px;
  text-align:center;
}
.Board h1{
  letter-spacing:1.5px;
}
.Board h2{
  font-weight:400;
  margin-bottom:40px;
}
.Board p{
  line-height:120px;
  height:120px;
  font-size:24px;
  margin:0 auto;
  letter-spacing:1.2px;
}
.Replay {
  padding:20px 60px;
  border:none;
  background:#2ecc71;
  color:#fff;
  font-size:24px;
  border-radius:5px;
  cursor:pointer;
}
.Replay:focus {outline:0;}

@media (max-width: 425px) {
  .Replay {
    margin-top:30px;
  }
}