.Board {
  position:relative;
  display:block;
  top:50px;
  text-align:center;
}
.Board h1{
  margin-bottom:60px;
  letter-spacing:1.5px;
}
.Board p{
  height:100px;
  line-height:100px;
  font-size:24px;
  letter-spacing:1.2px;
}
.Replay {
  padding:20px 60px;
  border:none;
  background:#2ecc71;
  color:#fff;
  font-size:24px;
  border-radius:5px;
  cursor:pointer;
}
.Replay:focus {outline:0;}
